@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>

    <h6 class="text-left text-info">Travel Experts</h6>
    <ul class="list-group">
        <li class="list-group-item active bg-info text-left text-white px-2" aria-current="true">Admin</li>
        <li class="list-group-item text-left"><a asp-area="" asp-controller="Home" asp-action="Index" target="Index">Packages</a></li>
    </ul>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
